pytest
numpy==1.26
pandas
plotly
pymongo
requests
aiohttp
neovim
isort
jupyterlab
ipython
ipdb
python-dotenv
geopandas>=1.0  # used for GeoDataFrame.to_geo_dict
openpyxl
geopy
osmnx
networkx
pyproj
geoalchemy2
sqlalchemy
sqlmodel
pydantic
great-expectations>=1.5
jinja2
aiohttp
asyncpg
redis
docker
dbt-core==1.8.2  # Dagster not compatible with dbt-core 1.8.4
dbt-postgres==1.8.2
dagster==1.10.5
dagster-webserver==1.10.5
dagster-dbt==0.26.5
dagster-postgres==0.26.5
dagster-aws==0.26.5
gtfs-realtime-bindings
protobuf3-to-dict
fastapi[standard]
fastapi-pagination
pyarrow
uvicorn
jq
OWSLib
pyaxis
XlsxWriter
black
